.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a5a284;
  padding: 15px 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.navbarStart {
  flex: 1;
}

.navbarStart img {
  width: 110px;
  height: 50px;
  border-radius: 10px;
}

.navbarMiddle {
  display: flex;
  justify-content: center;
  flex: 2;
}

.link {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  padding-bottom: 5px;
  transition: color 0.3s ease, transform 0.4s ease;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #ffd117;
  transition: width 0.3s ease;
}

.link:hover {
  color: #fff;
  transform: scale(1.1);
}

.link.active::after {
  width: 100%;
}

.navbarEnd {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.basket {
  color: white;
  font-size: 22px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.basket:hover {
  color: #ffcc00;
  transform: scale(1.2);
}
